version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: healthcare
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  backend:
    build: ./backend
    command: python run.py
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/healthcare
      JWT_SECRET_KEY: SUPER_SECRET_KEY
    depends_on:
      - db
